body {
  background-color: #06113c;
  color: #EEEEEE;
  text-align: center;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  margin-top: 1px;
  padding: 10px 0;
}

.dp {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  border: 2px solid #FF8C32;
}

.dp:hover{
  border: 1px solid #EEEEEE;
}

.dp img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.name {
  margin-bottom: 20px;
  }

h3 {
  font-size: 40px;
  margin: 0;
}

span {
  font-size: 20px;
  color: #FF8C32;
}

.portfolio {
  background-color: #FF8C32;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 20px;
  color: #06113C;
  white-space: nowrap;
  border: 1px solid #EEEEEE;
}


.highlight{
color: #EEEEEE;
font-size: 25px;
}


.icons a {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 35px;
  margin: 10px 3px;
}

.icons a :hover{
  color: #FF8C32;
}

.contact{
margin-top: 5px;
}

.contact-footer {
  display: block;
  color: #FF8C32;
  text-decoration: none;
  font-size: 15px;
  margin-top: 1px;
}

.contact-footer:hover{
  color: #EEEEEE;
}
