*,*:before, *:after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#5F85DB;
}

html, body{
    background-color: #26282B;
    height: 100vh;
    width: 375px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

.container{
    height:auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    width:100%;
}

.menu{
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    height: 50px;
    width: 340px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter:blur(5px);
    position:fixed;
    padding: 0 10px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 1;
}

.menu img{
    height: 40px;
    width: 40px;
    margin-left: 5px;
    border-radius: 50px;
    background-color:#90B8F8;
}

.menu span{
    flex-grow: 1;
    font-weight: bold;
    font-size:25px;
    padding-left: 25px;
}

.menu-icon{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding:2px;
}

.profile{
    height: 700px;
    width: 350px;
    background-color: #353941;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    text-align: center;
}

a{
    text-decoration: none;
}

.button{
    width: 300px;
    font-size: 24px;
    height: 50px;
    padding: 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:#FFFFFF;
    background: linear-gradient(to right,#26282B,#353941,#90B8F8 ,#5F85DB);
    backdrop-filter:blur(5px);
    border-radius:25px;
    border: #ffffff solid 2px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content{
    display: none;
    position: absolute;
    top: 100%;
    background-color:#26282be2;
    padding: 10px;
    color:#5F85DB;
    text-decoration: none;
    border: 2px solid #26282B;
    border-radius:15px;
    list-style-type: none;
    text-align:center;
    height: 250px;
    width: 350px;
}

.menu-content li{
    margin-bottom:15px
}

.menu-content li:first-child{
    margin-top:10px;
}


h3{
    color: #5F85DB;
    margin-top: 5px;
    font-size: 25px;
    margin-bottom: 20px;
}

text{
    font-size: 30px;
    color: #ffffff;
    text-align: left;
    text-indent: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.fa-briefcase{
    color:#5F85DB;
    font-size: 30px;
    border-radius: 50px;
    padding: 6px;
    align-items: center;
    margin-left: 20px;
}

.button .fa-phone{
    color: #5F85DB;
    font-size: 30px;
    border-radius: 50px;
    background-color: transparent;
    padding: 6px;
    align-items: center;
    margin-left: 20px;
}

.button .fa-envelope{
    color: #5F85DB;
    font-size: 30px;
    border-radius: 50px;
    background-color: transparent;
    padding: 6px;
    align-items: center;
    margin-left: 20px;
}

.button .fa-twitter{
    color: #1DA1F2;
    font-size: 30px;
    border-radius: 50px;
    background-color: transparent;
    align-items: center;
    padding-left: 5px;
    margin-left: 20px;
}

.button .fa-whatsapp{
    color: #25D366;
    font-size: 30px;
    padding: 6px;
    padding-left: 5px;
    align-items: center;
    margin-left: 20px;
}

.fa-bars{
    font-size: 30px;
    padding-bottom: 30px;  
}

.button span{
    flex-grow: 1;
    font-size:25px;
    padding-left: 25px;
}

.skills {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  
  .skills-bar {
    padding: 25px 30px;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #07374a;
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  .bar .progress-line span {
    position: absolute;
    background: #25b79f;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    text-transform: uppercase;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .progress-line .html {
    width: 80%;
  }
  .progress-line .css {
    width: 70%;
  }
  .progress-line .bootstrap {
    width: 82%;
  }
  .progress-line .javascript {
    width: 62%;
  }
  .progress-line .c {
    width: 90%;
  }
  
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -14px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #07374a;
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #f0f0f0;
    font-size: 12px;
    font-weight: 700;
    background: #07374a;
    padding: 1px 8px;
    border-radius: 3px;
  }
  
  
  .progress-line .html::after {
    content: "80%";
  }
  .progress-line .css::after {
    content: "70%";
  }
  .progress-line .bootstrap::after {
    content: "82%";
  }
  .progress-line .javascript::after {
    content: "62%";
  }
  .progress-line .c::after {
    content: "90%";
  }
  
  @media (max-width: 700px) {
      .skills{
          width: 80%;
      }
  
      .skills-bar .bar .progress-line{
          width: 100%;
      }
  }

  
.social-container {
  width: 350px;
  height: 75px;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00B5F5, #002A8F);
  transition: all 265ms ease-out;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}