body {
  background-color: #06113c;
  color: #EEEEEE;
  text-align: center;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  padding: 20px 0;
}

.dp {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.dp img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

name {
  margin-bottom: 20px;
}

h3 {
  margin: 0;
}

span {
  display: block;
  font-size: 16px;
}

.portfolio {
  background-color: #DDDDDD;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.icons a {
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
}

.contact-footer {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
}
